Task 1. In Lab 3 we’ve created a Python class Movie representing movie data from 
Wikipedia. In this lab we are mapping it to an SQL table MOVIES, using SQLite 
database. 
1. Create a MOVIES table with columns TITLE, DIRECTOR, GENRE, YEAR, RATING. 
2. Add methods to the Movie class for SELECTing, UPDATEing, INSERTing, and 
DELETEing records from MOVIES table.

In [1]:
import sqlite3

#### Підключаємо базу даних (Movies) і створбємо таблицю

In [16]:
con = sqlite3.connect("Movies.db")
cur = con.cursor()

In [5]:
cur.execute("""CREATE TABLE If Not Exists Movies (title text,
                                    year integer,
                                    director text,
                                    genre text,
                                    rating real)""")

#### Тепер створюємо клас Movie і додаємо методи:
* select info by movie title
* insert info into table
* update rating in table by movie title(hope it's oke)
* delete info about movie by title

In [28]:
class Movie:
    def __init__(self, title, year, director, genre, rating):
        self.title = title
        self.year = year
        self.director = director
        self.genre = genre
        self.rating = rating
    
    @classmethod    
    def selecting(self, name):
        cur.execute("Select * from Movies where title=?", (name,))
        res = cur.fetchone()
        return Movie(res[0],res[1],res[2], res[3],res[4])
    
    def inserting(self):
        cur.execute('INSERT INTO Movies(title, year, director,genre, rating) Values(?,?,?,?,?)', (self.title, self.year, self.director, self.genre, self.rating))
        con.commit()
            
    def updating_rating(title, rating):
        cur.execute('UPDATE Movies SET rating=? WHERE title=?', (rating,title))
        con.commit()
        
    def deleting(title):
        cur.execute('DELETE FROM Movies WHERE title=?', (title,))
        con.commit()

In [12]:
movie_1 = Movie('It Chapter One', 2017, 'Andy Muschietti', 'horror film', 7.3)
movie_2 = Movie('Interstellar', 2014, 'Christopher Nolan', 'science fiction', 8.7)
movie_3 = Movie('Spider-Man', 2002, 'Sam Raimi', 'superhero film', 7.4)

#### Тут я вставляю дані про фільм і демонструю, що вони додались в таблицю (insert and select)

In [14]:
movie_1.inserting()

In [15]:
Movie.selecting('It Chapter One').__dict__

{'title': 'It Chapter One',
 'year': 2017,
 'director': 'Andy Muschietti',
 'genre': 'horror film',
 'rating': 7.3}

#### Оновлюємо оцінку фільму

In [24]:
Movie.updating_rating('It Chapter One', 9.1)

In [25]:
Movie.selecting('It Chapter One').__dict__

{'title': 'It Chapter One',
 'year': 2017,
 'director': 'Andy Muschietti',
 'genre': 'horror film',
 'rating': 9.1}

#### Тут видаляємо дані з таблиці про фільм і демонструємо, що все працює коректно

In [29]:
Movie.deleting('It Chapter One')

In [32]:
res = cur.execute("select * from Movies")
res.fetchall()

[]

In [33]:
movie_2.inserting()

In [34]:
res = cur.execute("select * from Movies")
res.fetchall()

[('Interstellar', 2014, 'Christopher Nolan', 'science fiction', 8.7)]